@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fahkwang:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:wght@400&display=swap');

#background_one {
    margin-top: -12%;
    left: 0;
    width: 100%;
    position: fixed;
    z-index: -1;
}

#top_overlay {
    width: 100%;
    padding: 18% 0;
    background-color: rgba(0,0,0,0.25);
    z-index: 0;
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    padding-bottom: 16%;
}

#title_text {
    z-index: 2;
    font-size: 70px;
    color: white;
    font-family: 'Fredericka the Great', cursive;
    text-align: center;
    margin-bottom: 5%;
}

#title_subtitle {
    z-index: 2;
    font-size: 18px;
    color: white;
    font-family: 'Libre Caslon Text', serif;
    text-align: center;
}

#login_ad {
    padding: 20% 0;
    padding-bottom: 16%;
    z-index: 2;
    background-image: url("./images/royce_hall.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2em;
}

#login_title {
    font-size: 50px;
    text-align: center;
    color: white;   /* <-- Change color of text title for Royce Hall */
    text-shadow: 2px 2px rgb(26, 30, 46);    /* <-- Change shadow color of text title for Royce Hall */
    padding-top: 6%;
}

#login_description {
    z-index: 4;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;      /* <-- Change color of text for Royce Hall */
    width: max-content;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);  /* <-- Change shadow color of text for Royce Hall */
    padding-bottom: -10%;
}

#login_button {
    font-size: 15px;
    align-items: center;
    appearance: none;
    background-color: #fff;
    border-radius: 24px;
    border-style: none;
    box-shadow: rgb(0, 0, 0) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
    box-sizing: border-box;
    color: #3c4043;
    cursor: pointer;
    display: inline-flex;
    fill: currentcolor;
    font-family: Roboto;
    font-weight: 500;
    height: 48px;
    justify-content: center;
    letter-spacing: .25px;
    line-height: normal;
    max-width: 100%;
    overflow: visible;
    padding: 2px 24px;
    position: relative;
    text-align: center;
    touch-action: manipulation;
    width: auto;
}

#login_button:hover {
    background: #F6F9FE;
    color: #174ea6;
}

#login_button:active {
    box-shadow: 0 4px 4px 0 rgb(60, 64, 67), 0 8px 12px 6px rgb(60, 64, 67);
    outline: none;
}

#Features {
    height: fit-content;
    width: 100%;
    background-color: lightgray;
    padding-top: 2%;
    padding-bottom: 2.5%;
    text-align: center;
    font-size: 50px;
    font-family: 'Fahkwang', sans-serif;
    z-index: 2;
    position: relative;
}

#features_container {
    background-image: url("./images/snowy_mountain.jpg");
    background-size: cover;
    height: auto;
    display: flex;
    justify-content: center;
    column-gap: 2em;
    padding: 8% 0;
    padding-top: 18%;
    margin-top: -7%;
    text-align: center;
    z-index: 1;
}

.feature_element {
    padding: 3em 3em 10em 3em;
    padding-bottom: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    background-color: rgb(228, 228, 228);
    background-size: 80%;
    border-radius: 20px;
    row-gap: 2em;
}

.feature_number {
    transform: translate(0, -75%);
    font-size: 45px;
    background-color: lightgray;
    border-radius: 70px;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.feature_title {
    width: 100%;
    font-size: 30px;
    font-family: 'Fahkwang', sans-serif;
    padding-top: 8%;
}

.feature_text {
    font-size: 18px;
    line-height: 30px;
}

#propoganda {
    text-align: center;
    background-color: black;
    color: white;
    padding: 5% 0;
}

#propoganda_title {
    font-family: 'Fahkwang', sans-serif;
    font-size: 40px;
}

#propoganda_slogan {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin-bottom: 2%;
}

#propoganda_text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    line-height: 30px;
    width: 80%;
    margin: auto;
    margin-bottom: -1%;
}   

#footer {
    color: white;
    background-color: black;
}

#footer_img {
    margin-left: 10%;
    width: 80%;
    height: auto;
    border-radius: 20px;
}

#footer_text {
    margin-top: 2%;
    padding-bottom: 2%;
    border-radius: 20px;
    text-align: center;
}