#background {
    background-image: url("./images/Blue_UCLA_bear.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100%;
}

#firebaseui-auth-container {
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}