#navbar{
    background: #F37748;
    height: 2em;
    display: flex;
    padding: 1em 3em;
    align-items: center;
    color: white;
    position: fixed;
    z-index: 5;
}

#centerNavBar{
    margin: auto;
}

.MuiButton-root{
    margin-left: 10em;
}