@font-face {
    font-family: caverson;
    src: url("Caverson.otf");
}

#navbar{
    background: #4F0000;
    height: 2em;
    display: flex;
    padding: 1em 1em;
    align-items: center;
    color: black;
    position: relative;
    z-index: 5;
}

#leftNavBar{
    margin: 0;
    height: 150%;
    width: auto;
}

#centerNavBar{
    margin: auto;
}

#rightNavBar{
    font-family: caverson;
}

.MuiButton-root{
    margin-left: 10em;
}

input{
    max-width:100%;
    max-height:100%;
}