body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root{
  padding: 1em 2em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*used on requests page*/
div.scrollmenu {
  overflow-y: hidden;
  overflow-x: scroll;
  white-space: nowrap;
  height: 260px;
  width: 90%;
  padding: 10px;
  background-color: gainsboro;
  border-radius: 20px;
}

/*used on requests page*/
div.scrollmenu a {
  display: inline-block;
  text-align: left;
  padding: 30px;
  text-decoration: none;
  width: 20%;
}
